<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Open Graph data -->
        <meta property="og:url" content="{{origin}}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="Euro 2016">
        <meta property="og:description" content="Who is the better forecaster of football matches? Make bets for future matches, collect scores and compete with your friends.">
        <meta property="og:image" content="{{origin}}{{asset "/favicon-200x200.png"}}">

        <link rel="icon" type="image/png" href="{{asset "/favicon-32x32.png"}}" sizes="32x32">
        <link href="{{asset "/bundle.css"}}" rel="stylesheet">
        {{> head}}
    </head>
    <body>
        {{> body}}
        <script type="text/javascript" src="{{asset "/bundle.js"}}"></script>
    </body>
</html>
