<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Open Graph data -->
        <meta property="og:url" content="{{origin}}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="Euro 2016">
        <meta property="og:description" content="Who is the better forecaster of football matches? Make bets for future matches, collect scores and compete with your friends.">
        <meta property="og:image" content="{{origin}}{{asset "/favicon-120x120.png"}}">

        <link rel="icon" type="image/png" href="{{asset "/favicon-32x32.png"}}" sizes="32x32">
        <link href="{{asset "/bootstrap/dist/css/bootstrap.min.css"}}" rel="stylesheet">
        <link href="{{asset "/bootstrap/dist/css/bootstrap-theme.min.css"}}" rel="stylesheet">
        <link href="{{asset "/font-awesome/css/font-awesome.min.css"}}" rel="stylesheet">
        <link href="{{asset "/bootstrap-social/bootstrap-social.css"}}" rel="stylesheet">
        <script type="text/javascript" src="{{asset "/jquery/dist/jquery.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "/bootstrap/dist/js/bootstrap.min.js"}}"></script>
        <style>
        body {
            padding-top: 70px;
        }
        </style>
        {{> head}}
    </head>
    <body>
        {{> body}}
    </body>
</html>
