<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/intro">{{@websiteName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
            <ul class="navbar-nav w-100">
                {{#if loggedIn}}
                <li class="nav-item"><a class="nav-link" href="{{@origin}}/mybets">My Bets
                    {{#if (gt upcomingMatchesWithoutBet 0)}}<span class="badge badge-warning">{{ upcomingMatchesWithoutBet }}</span>{{/if}}
                </a></li>
                {{/if}}
                <li class="nav-item"><a class="nav-link" href="{{@origin}}/live">Live Matches
                    {{#if hasLiveMatches}}<span class="badge badge-success">NOW</span>{{/if}}
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{{@origin}}/past">Past Matches
                    {{#if (gt unseenPastMatches 0)}}<span class="badge badge-warning">{{unseenPastMatches}}</span>{{/if}}
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{{@origin}}/highscore">Highscore</a></li>
                {{#if loggedIn}}
                <li class="nav-item ml-auto dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.name}}
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/me">Profile</a>
                        <a class="dropdown-item" href="/settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <form method="post" action="/logout">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <button type="submit" class="btn btn-link dropdown-item">Logout</button>
                        </form>
                    </div>
                </li>
                {{else}}
                <li class="nav-item ml-auto"><a class="nav-link" href="{{@origin}}/register">Register</a><li>
                <li class="nav-item"><a class="nav-link" href="{{@origin}}/login">Login</a><li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
