{{#> layout}}
{{#*inline "head"}}
<title>{{ @t "activate.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
    {{#if button}}
        <div class="text-center">
        <form method="POST" action="/activate/{{code}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-success mt-3">{{ @t "activate.confirm_button" }}</button>
        </form>
        </div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-success">
      <strong>{{ @t "activate.success_title" }}</strong> {{ @t "activate.success_message" }}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger">
      <strong>{{ @t "activate.error_title" }}</strong> {{ @t "activate.error_message" }}
    </div>
    {{/if}}
</div>
{{/inline}}
{{/layout}}
