{{#> layout}}
{{#*inline "head"}}
<title>{{ @t "admin.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
<h2>{{ @t "admin.title" }}</h2>
{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}
{{#if message}}
<div class="alert alert-success">
    {{message}}
</div>
{{/if}}
<h3>{{ @t "admin.set_teams_heading" }}</h3>
<form method="post" action="/admin">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row g-3">
        <div class="col-sm-12">
            <label>{{ @t "admin.match_label" }}</label>
            <select name="match" class="form-control">
                <option selected disabled>{{ @t "admin.match_placeholder" }}</option>
                {{#each matchesWithoutTeams}}
                <option value="{{id}}">{{placeholder_home}} : {{placeholder_away}} ({{ @tr "format.date_time_short" value=starts_at }}) {{match_type_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row g-3 mt-1">
        <div class="col-sm-6">
            <label>{{ @t "admin.home_team_label" }}</label>
            <select name="home" class="form-control" required>
                <option selected disabled>{{ @t "admin.home_team_placeholder" }}</option>
                {{#each teams}}
                <option value="{{id}}">{{code}} {{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-6">
            <label>{{ @t "admin.away_team_label" }}</label>
            <select name="away" class="form-control">
                <option selected disabled>{{ @t "admin.away_team_placeholder" }}</option>
                {{#each teams}}
                <option value="{{id}}">{{code}} {{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button name="command" value="set_teams" type="submit" class="btn btn-primary mt-2">{{ @t "admin.set_teams_button" }}</button>
</form>
<h3 class="mt-3">{{ @t "admin.set_match_result_heading" }}</h3>
<form method="post" action="/admin">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row g-3">
        <div class="col-sm-12">
            <label>{{ @t "admin.match_label" }}</label>
            <select name="match" class="form-control">
                <option selected disabled>{{ @t "admin.match_placeholder" }}</option>
                {{#each liveMatches}}
                <option value="{{id}}">{{home_team_name}} : {{away_team_name}} ({{ @tr "format.date_time_short" value=starts_at }}) {{match_type_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-6">
            <label>{{ @t "admin.goals_home_label" }}</label>
            <input name="home" type="number" min="0" max="20" autocomplete="off" class="form-control" required>
        </div>
        <div class="col-sm-6">
            <label>{{ @t "admin.goals_away_label" }}</label>
            <input name="away" type="number" min="0" max="20" autocomplete="off" class="form-control" required>
        </div>
    </div>
    <button name="command" value="match_result" type="submit" class="btn btn-primary mt-2">{{ @t "admin.save_match_result_button" }}</button>
</form>

<h3 class="mt-3">{{ @t "admin.extra_bets_heading" }}</h3>
{{#each extraBets}}
    <div class="card mb-3">
        <div class="card-header">
            {{name}}
        </div>
        <div class="card-body">
            {{#each teams}}
                <div>{{name}}</div>
            {{else}}
                <div class="text-muted">{{ @t "admin.no_teams_selected" }}</div>
            {{/each}}
            <a class="btn btn-outline-primary mt-2" href="/admin_extra_bet/{{id}}">{{ @t "admin.edit_extra_bet_button" }}</a>
        </div>
    </div>
{{/each}}

</div>

<div class="container my-4">
<h3>{{ @t "admin.invitations_heading" }}</h3>
<a class="btn btn-outline-secondary" href="/admin/invitations">{{ @t "admin.view_invitation_graph_button" }}</a>
</div>
{{/inline}}
{{/layout}}
