{{#> layout}}
{{#*inline "head"}}
<title>Admin - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
<h2>Admin</h2>
{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}
{{#if message}}
<div class="alert alert-success">
    {{message}}
</div>
{{/if}}
<h3>Set Teams for future Matches</h3>
<form method="post" action="/admin" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="form-row">
        <div class="form-group col-sm-12">
            <label>Match</label>
            <select name="match" class="form-control">
                <option selected disabled>--- Match ---</option>
                {{#each matchesWithoutTeams}}
                <option value="{{id}}">{{placeholder_home}} : {{placeholder_away}} ({{calendarShort starts_at}}) {{match_type_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label>Home Team</label>
            <select name="home" class="form-control" required>
                <option selected disabled>--- Home Team ---</option>
                {{#each teams}}
                <option value="{{id}}">{{code}} {{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label>Away Team</label>
            <select name="away" class="form-control">
                <option selected disabled>--- Away Team ---</option>
                {{#each teams}}
                <option value="{{id}}">{{code}} {{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button name="command" value="set_teams" type="submit" class="btn btn-primary">Set Teams</button>
</form>
<h3 class="mt-3">Set Match Result</h3>
<form method="post" action="/admin" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="form-row">
        <div class="form-group col-sm-12">
            <label>Match</label>
            <select name="match" class="form-control">
                <option selected disabled>--- Match ---</option>
                {{#each liveMatches}}
                <option value="{{id}}">{{home_team_name}} : {{away_team_name}} ({{calendarShort starts_at}}) {{match_type_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label>Goals Home Team</label>
            <input name="home" type="number" min="0" max="20" autocomplete="off" class="form-control" required>
        </div>
        <div class="form-group col-sm-6">
            <label>Goals Away Team</label>
            <input name="away" type="number" min="0" max="20" autocomplete="off" class="form-control" required>
        </div>
    </div>
    <button name="command" value="match_result" type="submit" class="btn btn-primary">Save Match Result</button>
</form>

<h3 class="mt-3">Extra Bets</h3>
{{#each extraBets}}
    <div class="card mb-3">
        <div class="card-header">
            {{name}}
        </div>
        <div class="card-body">
            {{#each teams}}
                <div>{{name}}</div>
            {{else}}
                <div class="text-muted">No teams selected.</div>
            {{/each}}
            <a class="btn btn-outline-primary mt-2" href="/admin_extra_bet/{{id}}">Edit Extra Bet</a>
        </div>
    </div>
{{/each}}

</div>
{{/inline}}
{{/layout}}
