{{#> layout}}
{{#*inline "head"}}
<style>
.goals-home, .goals-away {
    font-weight: bolder;
    font-size: 1.3em;
}
.goals-home, .goals-away {
    text-align: center;
}
.date {
    font-size: 0.8em;
    text-align: center;
}
.hline {
    border-bottom: 3px solid #ccc;
}
.score-3 {
    background-color: #DC381F;
}
.score-2 {
    background-color: #D4A017;
}
.score-1 {
    background-color: #98AFC7;
}
</style>
<title>My Bets - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="hidden" name="_action" value="{{@origin}}/save_bet">
<div class="container">
<table class="table">
    {{#each matches}}
    <tr {{#if (expired this)}}class="{{scoreClass}}"{{else}}class="bet"{{/if}}>
        <td colspan="5" class="date">{{calendar when}}</td>
        <th class="text-right">{{HomeTeam.name}}</th>
        <td class="text-right">
        {{#if (expired this)}}
            {{#if goalsHome}}{{goalsHome}}{{else}}-{{/if}}
            ({{#if Bets.0.goalsHome}}{{Bets.0.goalsHome}}{{else}}-{{/if}})
        {{else}}
            <input type="number" size="2" class="form-control text-center" name="home" value="{{Bets.0.goalsHome}}">
        {{/if}}
        </td>
        <td class="text-center">:</td>
        <td>
        {{#if (expired this)}}
            {{#if goalsAway}}{{goalsAway}}{{else}}-{{/if}}
            ({{#if Bets.0.goalsAway}}{{Bets.0.goalsAway}}{{else}}-{{/if}})
        {{else}}
            <input type="number" class="form-control text-center" name="away" value="{{Bets.0.goalsAway}}">
        {{/if}}
        </td>
        <th class="text-left">{{AwayTeam.name}}</th>
        <td>
            <input type="hidden" name="match" value="{{id}}">
            <i class="fa fa-spinner fa-spin spinner" style="display:none;"></i>
            <i class="fa fa-warning warning" style="display:none;"></i>
        </td>
    </tr>
    {{/each}}
</table>
</div>
<script type="text/javascript" src="{{@origin}}/js/save_bets.js"></script>
{{/inline}}
{{/layout}}
