{{#> layout}}
{{#*inline "head"}}
<title>Extra Bets - {{@websiteName}}</title>
<style>
    .highlight-friend {
        background-color: #F8DE7E;
        padding: 3px 5px;
        display:inline-block;
        border-radius: 3px;
    }
    .highlight-me {
        background-color: #ffd700;
        padding: 3px 5px;
        display:inline-block;
        border-radius: 3px;
    }
</style>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">

{{#each extraBets}}
    <div class="card mb-3">
        <div class="card-header">
            {{ name }} 
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
                {{#each teams }}
                <tr>
                    <td>
                        {{ team.name }}
                        ({{ userCount }})
                    </td>
                    <td>
                        {{#each users }}
                            {{#if @first}}{{else}}, {{/if}}
                            <span {{#if isFriend}}class="highlight-friend"{{/if}}{{#if isMe}}class="highlight-me"{{/if}}>
                                <a href="/user/{{id}}">
                                    {{ name }}
                                </a>
                            </span>
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/each}}

</div>
{{/inline}}
{{#*inline "scripts"}}

{{/inline}}
{{/layout}}
