{{#> layout}}
{{#*inline "head"}}
<title>Highscore - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
<table class="table table-striped">
<tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
    <th title="Correct bet"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></th>
    <th title="Correct goal difference"><i class="fa fa-star"></i><i class="fa fa-star"></i></th>
    <th title="Correct winner"><i class="fa fa-star"></i></th>
</tr>
{{#each users}}
<tr>
    <td>{{rank}}</td>
    <td><a href="{{@origin}}/user/{{id}}">{{name}}</a></td>
    <td>{{this.score}}</td>
    <td>{{count3}}</td>
    <td>{{count2}}</td>
    <td>{{count1}}</td>
</tr>
{{/each}}
</table>
</div>
{{/inline}}
{{/layout}}
