{{#> layout}}
{{#*inline "head"}}
<title>Highscore - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
<table class="table table-striped">
<tr><th>Rank</th><th>Name</th><th>Score</th></tr>
{{#each users}}
<tr><td>{{rank}}</td><td><a href="{{@origin}}/user/{{id}}">{{name}}</a></td><td>{{this.score}}</td></tr>
{{/each}}
</table>
</div>
{{/inline}}
{{/layout}}
