{{#> layout}}
{{#*inline "head"}}
<title>Intro - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
    <h3>Welcome to the Euro 2016 Betting Game!</h3>
    <blockquote>
        <p>Manchester City and Manchester United are two different clubs? Are you serious?</p>
        <footer>Hans K. in <cite>The Art of Football</cite></footer>
    </blockquote>

    <h4 title="Too Long. Didn't read.">TL;DR</h4>
    <ol>
        <li><a href="{{@orígin}}/me">Make a bet</a> for a match of your choice</li>
        <li>Watch the match or mow the lawn, as you like</li>
        <li>Look on the <a href="{{@origin}}/highscore">highscore</a> after the results are fixed</li>
        <li><b>Enjoy!</b></li>
        <li>Jump to point 1</li>
    </ol>

    <h4>What are the rules?</h4>
    <ul>
        <li>You cannot win or lose anything here. This is only for fun.</li>
        <li>You may only make bets for a whole match, not only for a half.</li>
        <li>You can make bets for every match that is not started already.</li>
        <li>No one, except you, will see your bet until the match starts.</li>
        <li>You get points if you made a bet for a match and the match is over.</li>
        <li>You win the game if you are rank 1 on the highscore list after the final match.</li>
    </ul>

    <h4>How do I score?</h4>
    <ul>
        <li>You get {{> correct_bet}} for a correct bet OR</li>
        <li>You get {{> correct_diff}} for the correct goal difference OR</li>
        <li>You get {{> correct_winner}} for the correct winner OR</li>
        <li>You get zero points in any other case or if you did not make a bet</li>
    </ul>

    <h4>Scoring Example</h4>
    <p>You made this bet: 4:3 in the match Germany - Denmark. You would get</p>
    <ul>
        <li>{{> correct_bet}}, if the result was 4:3</li>
        <li>{{> correct_diff}}, if the result was 1:0, 2:1 or 3:2 ...</li>
        <li>{{> correct_winner}}, if the winner was Germany</li>
    </ul>
    <p>You made this bet: 2:2 in another match. You would get</p>
    <ul>
        <li>{{> correct_bet}}, if the result was 2:2</li>
        <li>{{> correct_diff}}, if the result was 0:0, 1:1, 3:3 ...</li>
    </ul>

    <h4>Legal rules</h4>
    <ul>
        <li>You may not change your name to anything offensive.</li>
        <li>The game master may exclude you from the game at any time.</li>
        <li>Recourse to the courts is not permitted.</li>
    </ul>

    <h4>Share this web service if you like</h4>
    <p>
    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/intent/tweet?hashtags=euro2016&url={{@origin}}" target="_blank">
        <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{@origin}}" target="_blank">
        <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url={{@origin}}" target="_blank">
        <span class="fa fa-google-plus"></span>
    </a>
    <a class="btn btn-social-icon btn-reddit" href="mailto:?subject=UEFA%20Euro%202016&body={{@origin}}">
        <span class="fa fa-envelope-o"></span>
    </a>
    </p>
</div>
{{/inline}}
{{/layout}}
