{{#> layout}}
{{#*inline "head"}}
<title>{{ @t "intro.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
    <h3>
        {{ @t "intro.welcome" }}
    </h3>
    <p>
        {{ @t "intro.description" }}
    </p>

    <h4>
        {{ @t "intro.quickstart" }}
    </h4>
    <div class="row row-cols-1 row-cols-lg-3 g-3">
            <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ @t "intro.my_bets_title" }}
                    </h5>
                    <p class="card-text">
                        {{ @t "intro.my_bets_description" }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/mybets" class="btn btn-primary {{#if (not loggedIn)}}disabled{{/if}}">
                        {{ @t "intro.my_bets_link" }}
                    </a>
                    {{#if (not loggedIn)}}<br><small class="text-muted">{{ @t "intro.account_required" }}</small>{{/if}}
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ @t "intro.live_matches_title" }}
                    </h5>
                    <p class="card-text">
                        {{ @t "intro.live_matches_description" }}
                    </p>
                </div>
                <div class="card-footer">
                     <a href="/live" class="btn btn-primary">
                        {{ @t "intro.live_matches_link" }}
                    </a>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ @t "intro.highscore_title" }}
                    </h5>
                    <p class="card-text">
                        {{ @t "intro.highscore_description" }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/highscore" class="btn btn-primary">
                        {{ @t "intro.highscore_link" }}
                    </a>
                </div>
            </div>
            </div>
    </div>

    <h4 class="mt-3">{{ @t "intro.faq_heading" }}</h4>
    <div class="accordion intro-faq" id="faq">
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-who-made-this">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#who-made-this" aria-expanded="false" aria-controls="who-made-this">
                    {{ @t "intro.faq.who_made_this.question" }}
                </button>
            </h2>
            <div id="who-made-this" class="accordion-collapse collapse" aria-labelledby="faq-heading-who-made-this" data-bs-parent="#faq">
                <div class="accordion-body">
                    {{ @t "intro.faq.who_made_this.answer_before_link" }} <a href="https://github.com/syxolk">{{ @t "intro.faq.who_made_this.answer_link_text" }}</a>.
                    {{ @t "intro.faq.who_made_this.answer_2016" }}
                    {{ @t "intro.faq.who_made_this.answer_2018" }}
                    {{ @t "intro.faq.who_made_this.answer_2020" }}
                    {{ @t "intro.faq.who_made_this.answer_2022" }}
                    {{ @t "intro.faq.who_made_this.answer_contact" }} <a href="mailto:hans.kirchner.info@gmail.com">hans.kirchner.info@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-invite-friends">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#invite-friends" aria-expanded="false" aria-controls="invite-friends">
                    {{ @t "intro.faq.invite_friends.question" }}
                </button>
            </h2>
            <div id="invite-friends" class="accordion-collapse collapse" aria-labelledby="faq-heading-invite-friends" data-bs-parent="#faq">
                <div class="accordion-body">
                    <b>{{ @t "intro.faq.invite_friends.answer_yes" }}</b> {{ @t "intro.faq.invite_friends.answer_before_link" }}
                    <a href="https://github.com/syxolk/euro2024">{{ @t "intro.faq.invite_friends.answer_link_text" }}</a>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-get-points">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#get-points" aria-expanded="false" aria-controls="get-points">
                    {{ @t "intro.faq.get_points.question" }}
                </button>
            </h2>
            <div id="get-points" class="accordion-collapse collapse" aria-labelledby="faq-heading-get-points" data-bs-parent="#faq">
                <div class="accordion-body">
                    <p>{{ @t "intro.faq.get_points.intro" }}</p>
                    <ul>
                        <li>{{ @t "intro.faq.get_points.correct_bet_prefix" }} {{> correct_bet}} {{ @t "intro.faq.get_points.correct_bet_suffix" }}</li>
                        <li>{{ @t "intro.faq.get_points.correct_diff_prefix" }} {{> correct_diff}} {{ @t "intro.faq.get_points.correct_diff_suffix" }}</li>
                        <li>{{ @t "intro.faq.get_points.correct_winner_prefix" }} {{> correct_winner}} {{ @t "intro.faq.get_points.correct_winner_suffix" }}</li>
                        <li>{{ @t "intro.faq.get_points.wrong_bet_prefix" }} {{> wrong_bet}} {{ @t "intro.faq.get_points.wrong_bet_suffix" }}</li>
                    </ul>
                    <p>
                        {{ @t "intro.faq.get_points.match_factor_before_badge" }} <em>{{ @t "intro.faq.get_points.match_factor_emphasis" }}</em>. {{ @t "intro.faq.get_points.match_factor_badge_intro" }} {{> score_factor 2}}.
                        {{ @t "intro.faq.get_points.match_factor_after_badge" }}
                    </p>

                    <p>
                        <strong>{{ @t "intro.faq.get_points.example_heading" }}</strong><br>
                        {{ @t "intro.faq.get_points.example_one_intro" }}
                    </p>
                    <ul>
                        <li>{{> correct_bet}}, {{ @t "intro.faq.get_points.example_one_correct_bet" }}</li>
                        <li>{{> correct_diff}}, {{ @t "intro.faq.get_points.example_one_correct_diff" }}</li>
                        <li>{{> correct_winner}}, {{ @t "intro.faq.get_points.example_one_correct_winner" }}</li>
                    </ul>
                    <p>{{ @t "intro.faq.get_points.example_two_intro" }}</p>
                    <ul>
                        <li>{{> correct_bet}}, {{ @t "intro.faq.get_points.example_two_correct_bet" }}</li>
                        <li>{{> correct_diff}}, {{ @t "intro.faq.get_points.example_two_correct_diff" }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-rank">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rank" aria-expanded="false" aria-controls="rank">
                    {{ @t "intro.faq.rank.question" }}
                </button>
            </h2>
            <div id="rank" class="accordion-collapse collapse" aria-labelledby="faq-heading-rank" data-bs-parent="#faq">
                <div class="accordion-body">
                    <p>{{ @t "intro.faq.rank.intro_before_link" }}
                    {{ @t "intro.faq.rank.intro_with_cnt" }} <a href="/highscore">{{ @t "intro.faq.rank.intro_link_text" }}</a>.
                    {{ @t "intro.faq.rank.intro_after_link" }}
                    </p>
                    <ol>
                        <li>{{ @t "intro.faq.rank.score_item" }}</li>
                        <li>{{ @t "intro.faq.rank.correct_bet_prefix" }} {{>correct_bet}} {{ @t "intro.faq.rank.correct_bet_suffix" }}</li>
                        <li>{{ @t "intro.faq.rank.correct_diff_prefix" }} {{>correct_diff}} {{ @t "intro.faq.rank.correct_diff_suffix" }}</li>
                        <li>{{ @t "intro.faq.rank.correct_winner_prefix" }} {{>correct_winner}} {{ @t "intro.faq.rank.correct_winner_suffix" }}</li>
                        <li>{{ @t "intro.faq.rank.wrong_bet_prefix" }} {{>wrong_bet}} {{ @t "intro.faq.rank.wrong_bet_suffix" }}</li>
                    </ol>
                    <p>
                        {{ @t "intro.faq.rank.same_rank_prefix" }} <i>{{ @t "intro.faq.rank.same_rank_emphasis" }}</i>
                        {{ @t "intro.faq.rank.same_rank_suffix" }}
                    </p>
                    <p>
                        <strong>{{ @t "intro.faq.rank.example_heading" }}</strong><br>
                        {{ @t "intro.faq.rank.example_part_one" }}
                        {{ @t "intro.faq.rank.example_part_two" }}
                        {{ @t "intro.faq.rank.example_part_three_prefix" }} {{>correct_bet}}.
                        {{ @t "intro.faq.rank.example_part_four" }}
                        {{ @t "intro.faq.rank.example_part_five_prefix" }} {{>correct_bet}} {{ @t "intro.faq.rank.example_part_five_middle" }}
                        {{>correct_diff}}.
                    </p>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{>correct_bet}}</th>
                            <th>{{>correct_diff}}</th>
                            <th>{{>correct_winner}}</th>
                            <th>{{>wrong_bet}}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>{{ @t "intro.faq.rank.table_name" }}</th>
                            <th>{{ @t "intro.faq.rank.table_score" }}</th>
                            <th>{{ @t "intro.faq.rank.table_cnt" }}</th>
                            <th>{{ @t "intro.faq.rank.table_cnt" }}</th>
                            <th>{{ @t "intro.faq.rank.table_cnt" }}</th>
                            <th>{{ @t "intro.faq.rank.table_cnt" }}</th>
                        </tr>
                        <tr>
                            <th>1.</th><td>A</td><td>13</td><td>1</td><td>1</td><td>3</td><td>1</td>
                        </tr>
                        <tr>
                            <th>1.</th><td>B</td><td>13</td><td>1</td><td>1</td><td>3</td><td>1</td>
                        </tr>
                        <tr>
                            <th>3.</th><td>C</td><td>13</td><td>0</td><td>3</td><td>2</td><td>1</td>
                        </tr>
                        <tr>
                            <th>4.</th><td>D</td><td>13</td><td>0</td><td>1</td><td>5</td><td>1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-penalty">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#penalty" aria-expanded="false" aria-controls="penalty">
                    {{ @t "intro.faq.penalty.question" }}
                </button>
            </h2>
            <div id="penalty" class="accordion-collapse collapse" aria-labelledby="faq-heading-penalty" data-bs-parent="#faq">
                <div class="accordion-body">
                    <b>{{ @t "intro.faq.penalty.answer_no" }}</b> {{ @t "intro.faq.penalty.answer_text" }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-see-bets">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#see-bets" aria-expanded="false" aria-controls="see-bets">
                    {{ @t "intro.faq.see_bets.question" }}
                </button>
            </h2>
            <div id="see-bets" class="accordion-collapse collapse" aria-labelledby="faq-heading-see-bets" data-bs-parent="#faq">
                <div class="accordion-body">
                    <b>{{ @t "intro.faq.see_bets.answer_prefix" }}</b> {{ @t "intro.faq.see_bets.answer_text" }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-heading-new-features">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#new-features" aria-expanded="false" aria-controls="new-features">
                    {{ @t "intro.faq.new_features.question" }}
                </button>
            </h2>
            <div id="new-features" class="accordion-collapse collapse" aria-labelledby="faq-heading-new-features" data-bs-parent="#faq">
                <div class="accordion-body">
                    {{ @t "intro.faq.new_features.heading" }}:
                    <ul>
                        <li>{{ @t "intro.faq.new_features.item_rescaled_points" }}</li>
                        <li>{{ @t "intro.faq.new_features.item_score_factor" }}</li>
                        <li>{{ @t "intro.faq.new_features.item_early_bets" }}</li>
                        <li>{{ @t "intro.faq.new_features.item_missing_bets_notice" }}</li>
                        <li>{{ @t "intro.faq.new_features.item_live_notice" }}</li>
                        <li>{{ @t "intro.faq.new_features.item_unseen_past_notice" }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-3">{{ @t "intro.legal.heading" }}</h4>
    <ul>
        <li>{{ @t "intro.legal.rule_offensive_name" }}</li>
        <li>{{ @t "intro.legal.rule_game_master" }}</li>
        <li>{{ @t "intro.legal.rule_no_recourse" }}</li>
    </ul>
</div>
{{/inline}}
{{/layout}}
