{{#> layout}}
{{#*inline "head"}}
<title>Live Matches - {{@websiteName}}</title>
<style>
    .highlight-friend {
        background-color: #F8DE7E;
        padding: 3px 5px;
        display:inline-block;
        border-radius: 3px;
    }
    .highlight-me {
        background-color: #ffd700;
        padding: 3px 5px;
        display:inline-block;
        border-radius: 3px;
    }
</style>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
{{#if matches}}
{{#each matches}}
<div class="card mb-2">
    <div class="card-header">
        <strong>{{hometeam}} : {{awayteam}}</strong> ({{matchtype}})
        <span class="label label-default">{{tv}}</span>
        {{> score_factor score_factor }}
        <small>{{newsDate starts_at}}</small>
    </div>
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar bg-dark" role="progressbar" style="width: {{winnerhome}}%;">
                {{winnerhome}}% {{hometeam}}
            </div>
            <div class="progress-bar text-dark" role="progressbar" style="width: {{draw}}%;background-color:#ccc;">
                {{draw}}% Draw
            </div>
            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{winneraway}}%;">
                {{winneraway}}% {{awayteam}}
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {{#if bets.home}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2"><em>{{hometeam}}</em></div>
                <div class="col-md-10">
                    {{#each bets.home}}
                        {{#if @first}}{{else}}, {{/if}}
                        <span {{#if friend}}class="highlight-friend"{{/if}}{{#if me}}class="highlight-me"{{/if}}>
                            <a href="/user/{{id}}">{{name}}</a>
                            {{#if friend}}<b>{{/if}}{{goalsHome}}:{{goalsAway}}{{#if friend}}</b>{{/if}}
                        </span>
                    {{/each}}
                </div>
            </div>
        </li>
        {{/if}}
        {{#if bets.draw}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2"><em>Draw</em></div>
                <div class="col-md-10">
                    {{#each bets.draw}}
                        {{#if @first}}{{else}}, {{/if}}
                        <span {{#if friend}}class="highlight-friend"{{/if}}{{#if me}}class="highlight-me"{{/if}}>
                            <a href="/user/{{id}}">{{name}}</a>
                            {{#if friend}}<b>{{/if}}{{goalsHome}}:{{goalsAway}}{{#if friend}}</b>{{/if}}
                        </span>
                    {{/each}}
                </div>
            </div>
        </li>
        {{/if}}
        {{#if bets.away}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2"><em>{{awayteam}}</em></div>
                <div class="col-md-10">
                    {{#each bets.away}}
                        {{#if @first}}{{else}}, {{/if}}
                        <span {{#if friend}}class="highlight-friend"{{/if}}{{#if me}}class="highlight-me"{{/if}}>
                            <a href="/user/{{id}}">{{name}}</a>
                            {{#if friend}}<b>{{/if}}{{goalsHome}}:{{goalsAway}}{{#if friend}}</b>{{/if}}
                        </span>
                    {{/each}}
                </div>
            </div>
        </li>
        {{/if}}
    </ul>
</div>
{{/each}}
{{else}}
<div class="alert alert-danger" role="alert">
    <strong>
        {{ t "live.no_live" }}
    </strong>
</div>
{{/if}}

{{#if nextMatches}}
<div class="card mb-2">
    <div class="card-header bg-success"><strong>
        {{ t "live.upcoming_matches_header" }}
    </strong></div>
    <ul class="list-group list-group-flush">
        {{#each nextMatches}}
        <li class="list-group-item">
        <div class="row">
            <div class="col-md-3 order-md-1 order-1 col-12">{{match_type_name}} <span class="label label-default">{{tv}}</span> {{> score_factor match_type_score_factor }}</div>
            <div class="order-md-2 text-md-right order-2 col text-right"><strong>{{#if home_team_name}}{{home_team_name}}{{else}}{{placeholder_home}}{{/if}}</strong></div>
            <div class="col-md-3 order-md-3 text-md-center order-1 col-12">{{newsDate starts_at}}</div>
            <div class="order-md-4 text-md-left order-2 col"><strong>{{#if away_team_name}}{{away_team_name}}{{else}}{{placeholder_away}}{{/if}}</strong></div>
        </div>
        <div class="small text-muted">{{ @tr "live.number_of_bets" count=bet_count }}</div>
        {{#if ../is_logged_in}}
            {{#if friends_without_bet}}
                <details>
                    <summary class="text-danger">&#x274C; {{ @t "live.friends_without_bets" }}</summary>
                    {{#each friends_without_bet}}
                        {{#if @first}}{{else}}, {{/if}}
                        <a href="/user/{{id}}">{{name}}</a>
                    {{/each}}
                </details>
            {{else}}
            <div class="text-success">&#x2705; {{ @t "live.all_friends_have_bets" }}</div>
            {{/if}}
        {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
</div>
{{/inline}}
{{/layout}}
