{{#> layout}}
{{#*inline "head"}}
<title>Live Matches - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
{{#if matches}}
{{#each matches}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{hometeam}} : {{awayteam}} ({{matchtype}})
            <span class="label label-default">{{tv}}</span>
            {{> score_factor score_factor }}
            <small class="pull-right">{{calendar when}}</small>
        </h2>
    </div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{winnerhome}}%;">
                {{winnerhome}}% {{hometeam}}
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{draw}}%;">
                {{draw}}% Draw
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{winneraway}}%;">
                {{winneraway}}% {{awayteam}}
            </div>
        </div>
        <p>Average bet: <b>{{toFixed1 avghome}}</b> : <b>{{toFixed1 avgaway}}</b></p>
    </div>
    <div class="panel-footer">
        {{#each bets}}{{#if @first}}{{else}},{{/if}} <a href="/user/{{User.id}}">{{User.name}}</a> {{goalsHome}}:{{goalsAway}}{{/each}}
    </div>
</div>
{{/each}}
{{else}}
<div class="alert alert-danger" role="alert">
    <strong>There are currently no live matches.</strong>
</div>
{{/if}}

{{#if nextMatches}}
<div class="panel panel-success">
    <div class="panel-heading">Upcoming Matches</div>
    <table class="table">
        {{#each nextMatches}}
        <tr>
            <td class="col-md-3">{{calendar when}}</td>
            <td class="col-md-1">{{MatchType.name}}</td>
            <td class="col-md-3 text-right"><em>{{HomeTeam.name}}</em></td>
            <td class="col-md-1 text-center">:</td>
            <td class="col-md-3 text-left"><em>{{AwayTeam.name}}</em></td>
            <td class="col-md-1"><span class="label label-default">{{tv}}</span> {{> score_factor MatchType.scoreFactor }}</td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}
</div>
{{/inline}}
{{/layout}}
