{{#> layout}}
{{#*inline "head"}}
<title>{{ @t "login.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">{{@websiteName}}</h2>
    <form action="/login" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            <strong>
                {{ @t "login.failed" }}
            </strong> {{error}}
        </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="mb-3">
            <label for="email">
                {{ @t "login.email" }}
            </label>
            <input type="email" class="form-control" name="email" id="email" required value="{{email}}">
        </div>
        <div class="mb-3">
            <label for="password">
                {{ @t "login.password" }}
            </label>
            <input type="password" class="form-control" name="password" id="password" minlength="6" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100" type="submit">
                {{ @t "login.submit_button" }}
            </button>
            <small class="form-text text-muted">
            {{ @t "login.forgot_password" }} <a href="/password_recovery">{{ @t "login.recover_link" }}</a> {{ @t "login.recover_suffix" }}<br>
            {{ @t "login.no_account" }} <a href="/register">{{ @t "login.register_link" }}</a> {{ @t "login.social_login_suffix" }}
            </small>
        </div>
    </form>
    {{#if enabledFacebook}}
        <a class="btn btn-secondary btn-lg w-100" href="/auth/facebook">
            <i class="fa fa-facebook"></i> {{ @t "login.sign_in_facebook" }}
        </a>
    {{else}}
        <div class="text-muted small">
            {{ @t "login.facebook_disabled" }}
        </div>
    {{/if}}
    {{#if enabledGoogle}}
        <a class="btn btn-secondary btn-lg w-100" href="/auth/google">
            <i class="fa fa-google"></i> {{ @t "login.sign_in_google" }}
        </a>
    {{else}}
        <div class="text-muted small">
            {{ @t "login.google_disabled" }}
        </div>
    {{/if}}
</div>
{{/inline}}
{{/layout}}
