{{#> layout}}
{{#*inline "head"}}
<title>{{ t "login.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">{{@websiteName}}</h2>
    <form action="/login" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            <strong>
                {{ t "login.failed" }}
            </strong> {{error}}
        </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="email">
                {{ @t "login.email" }}
            </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required value="{{email}}">
        </div>
        <div class="form-group">
            <label for="password">
                {{ @t "login.password" }}
            </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="correct horse battery staple" minlength="6" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                {{ t "login.submit_button" }}
            </button>
            <small class="form-text text-muted">
            {{ t "login.forgot_password" }} <a href="/password_recovery">Recover your password</a> with your email address.<br>
            {{ t "login.no_account" }} <a href="/register">Register</a> or use one of the social logins.
            </small>
        </div>
    </form>
    {{#if enabledFacebook}}
        <a class="btn btn-block btn-lg btn-secondary" href="/auth/facebook">
            <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
    {{else}}
        <div class="text-muted small">
            Facebook Login disabled.
        </div>
    {{/if}}
    {{#if enabledGoogle}}
        <a class="btn btn-block btn-lg btn-secondary" href="/auth/google">
            <i class="fa fa-google"></i> Sign in with Google
        </a>
    {{else}}
        <div class="text-muted small">
            Google Login disabled.
        </div>
    {{/if}}
</div>
{{/inline}}
{{/layout}}
