{{#> layout}}
{{#*inline "head"}}
<title>Euro 2016 Betting Game</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">Euro 2016</h2>
    <form action="/login" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            <strong>Login failed.</strong> {{error}}
        </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required value="{{email}}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="correct horse battery staple" minlength="6" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
            <span class="help-block">Don't have an account?
            <a href="/register">Register</a> or use one of the social logins.</span>
        </div>
    </form>
    {{#if enabledFacebook}}
        <a class="btn btn-block btn-lg btn-social btn-facebook" href="{{@origin}}/auth/facebook">
            <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
    {{else}}
        <div class="alert alert-warning">
            Facebook Login disabled.
        </div>
    {{/if}}
    {{#if enabledGoogle}}
        <a class="btn btn-block btn-lg btn-social btn-google" href="{{@origin}}/auth/google">
            <i class="fa fa-google"></i> Sign in with Google
        </a>
    {{else}}
        <div class="alert alert-warning">
            Google Login disabled.
        </div>
    {{/if}}
</div>
{{/inline}}
{{/layout}}
