{{#> layout}}
{{#*inline "head"}}
<title>My Bets - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="hidden" name="_action" value="{{@origin}}/save_bet">
<div class="container">

<h3>My Bets for {{user.name}}</h3>

{{#if (gt upcomingMatchesWithoutBet 0)}}
<div class="alert alert-warning">
    <strong>You should place bets for the upcoming matches!</strong>
</div>
{{/if}}

<table class="table">
    {{#each matches}}
    <tr class="autosave">
        <td class="small"><span class="hidden-xs">{{calendar when}}</span><span class="visible-xs">{{calendarShort when}}</span></td>
        <td class="small"><span class="hidden-xs">{{MatchType.name}}</span><span class="visible-xs">{{MatchType.code}}</span></td>
        <td class="text-right">
            <em class="hidden-xs">{{HomeTeam.name}}</em><em class="visible-xs">{{HomeTeam.code}}</em>
        </td>
        <td class="text-center">:</td>
        <td class="text-left">
            <em class="hidden-xs">{{AwayTeam.name}}</em><em class="visible-xs">{{AwayTeam.code}}</em>
        </td>
        <td class="text-center">
            <input type="number" min="0" max="20" autocomplete="off" class="form-control text-center" name="home" value="{{Bets.0.goalsHome}}">
            <input type="hidden" name="match" value="{{id}}">
        </td>
        <td class="text-center">
            <input type="number" min="0" max="20" autocomplete="off" class="form-control text-center" name="away" value="{{Bets.0.goalsAway}}">
        </td>
    </tr>
    {{/each}}
</table>
</div>
{{/inline}}
{{/layout}}
