{{#> layout}}
{{#*inline "head"}}
<title>Password Recovery - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">Recovery</h2>
    <form action="/password_recovery" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {{else}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="mb-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" required value="{{email}}">
            <small class="form-text text-muted">We'll send a link to your email address that allows you to change your password.</small>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100" type="submit">Continue</button>
        </div>
        {{/if}}
    </form>
</div>
{{/inline}}
{{/layout}}
