{{#> layout}}
{{#*inline "head"}}
<title>{{ @t "password_reset.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">{{ @t "password_reset.heading" }}</h2>
    <form action="/password_reset/{{code}}" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {{else}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="mb-3">
            <label for="password">{{ @t "password_reset.password_label" }}</label>
            <input type="password" class="form-control" name="password" id="password" minlength="6" required>
            <small class="form-text text-muted">{{ @t "password_reset.password_help" }}</small>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100" type="submit">{{ @t "password_reset.submit_button" }}</button>
        </div>
        {{/if}}
    </form>
</div>
{{/inline}}
{{/layout}}
