{{#> layout}}
{{#*inline "head"}}
<title>Password Reset - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">Reset</h2>
    <form action="/password_reset/{{code}}" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {{else}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="correct horse battery staple" minlength="6" required>
            <small class="form-text text-muted">This will be new your new password.</small>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Confirm</button>
        </div>
        {{/if}}
    </form>
</div>
{{/inline}}
{{/layout}}
