{{#> layout}}
{{#*inline "head"}}
<title>{{ @t "password_recovery.title" }} - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">{{ @t "password_recovery.heading" }}</h2>
    <form action="/password_recovery" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {{else}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="mb-3">
            <label for="email">{{ @t "password_recovery.email_label" }}</label>
            <input type="email" class="form-control" name="email" id="email" required value="{{email}}">
            <small class="form-text text-muted">{{ @t "password_recovery.email_help" }}</small>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100" type="submit">{{ @t "password_recovery.submit_button" }}</button>
        </div>
        {{/if}}
    </form>
</div>
{{/inline}}
{{/layout}}
