{{#> layout}}
{{#*inline "head"}}
<style type="text/css">
body {
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
</style>
<title>Euro 2016 Betting Game</title>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container form-signin">
    <h2 class="form-signin-heading">New Account</h2>
    <form action="/register" method="POST">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            <strong>Registration failed.</strong> {{error}}
        </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Anonymous" minlength="3" maxlength="40" required value="{{name}}">
            <span class="help-block">
                Your name will be visible to anyone.
                You can change your name at any time.
            </span>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required value="{{email}}">
            <span class="help-block">We will send a confirmation link to your email account.</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="correct horse battery staple" minlength="6" required>
            <span class="help-block">We encrypt all passwords with bcrypt, one of the best password hashing algorithms available.</span>
        </div>
        <div class="g-recaptcha form-group" data-sitekey="{{key}}"></div>
        <button class="btn btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{{/inline}}
{{/layout}}
