{{#> layout}}
{{#*inline "head"}}
<title>{{displayedUser.name}} - {{@websiteName}}</title>
<style>
.result-correct {
    background-color: #009900;
}
.result-diff {
    background-color: #00e600;
}
.result-winner {
    background-color: #ccffcc;
}

.extra-bet-correct {
    display: inline-block;
    padding: 3px;
    background-color: #009900;
    color: white;
    border-radius: 3px;
}

.extra-bet-wrong {
    display: inline-block;
    padding: 3px;
    background-color: #eee;
    border-radius: 3px;
}
</style>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">

<h3>{{displayedUser.name}} <small class="text-muted">Score {{displayedUser.score}}, Ranking {{displayedUser.rank}}</small></h3>

<div class="card-deck">
{{#each extraBets}}
    <div class="card mb-2">
        <div class="card-header">
            {{name}} ({{numberOfCorrectTeams}} &#xd7; {{scoreFactor}} = {{totalScore}} points)
        </div>
        <div class="card-body">
            {{#each teams}}
                <div {{#if isCorrect}}class="extra-bet-correct"{{else}}class="extra-bet-wrong"{{/if}}>{{name}}</div>
            {{else}}
                <span class="text-muted small">No teams selected.</span>
            {{/each}}
        </div>
    </div>
{{/each}}
</div>

{{#if matchesPerDayList}}
<table class="table table-sm">
    <thead class="thead-light">
    <tr>
        <th colspan="2"></th>
        <th colspan="3" class="text-center">Match Result</th>
        <th class="text-center">Bet</th>
        <th class="text-center">Points</th>
    </tr>
    </thead>
    {{#each matchesPerDayList}}
        <tr>
            <td colspan="7" class="pt-4">
                {{formatDate date}}
            </td>
        </tr>
        {{#each matches}}
        <tr class="result-{{result}}">
            <td class="small"><span class="d-none d-sm-inline">{{formatTime starts_at}}</span><span class="d-sm-none">{{formatTime starts_at}}</span></td>
            <td class="small">
                <span class="d-none d-sm-inline">{{match_type_name}}</span>
                <span class="d-sm-none">{{match_type_code}}</span>
                {{> score_factor match_type_score_factor}}
            </td>
            <td class="text-right">
                <em class="d-none d-sm-inline">{{home_team_name}}</em><em class="d-sm-none">{{home_team_code}}</em>
            </td>
            <td class="text-center">
                <strong>{{showGoals match_goals_home}}</strong> : <strong>{{showGoals match_goals_away}}</strong>
            </td>
            <td class="text-left">
                <em class="d-none d-sm-inline">{{away_team_name}}</em><em class="d-sm-none">{{away_team_code}}</em>
            </td>
            <td class="text-center">
            {{showGoals bet_goals_home}} : {{showGoals bet_goals_away}}
            </td>
            <td class="text-center {{#if (isZero score)}}is-zero{{/if}}">
            {{score}}
            </td>
        </tr>
        {{/each}}
    {{/each}}
</table>
{{else}}
<div class="alert alert-danger" role="alert">
    <strong>There are no bets to show.</strong>
</div>
{{/if}}
</div>
{{/inline}}
{{/layout}}
