{{#> layout}}
{{#*inline "head"}}
<style>
.score-3 {
    background-color: #009900;
}
.score-2 {
    background-color: #00e600;
}
.score-1 {
    background-color: #ccffcc;
}
@keyframes pulse-success {
    0%, 100% { background-color: white; }
    30% { background-color: #76FF7A; }
}
.autosave-success {
    animation: pulse-success 1s;
}
@keyframes pulse-error {
    0%, 100% { background-color: white; }
    30% { background-color: #DC381F; }
}
.autosave-error {
    animation: pulse-error 1s;
}
</style>
<title>{{user.name}} - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="hidden" name="_action" value="{{@origin}}/save_bet">
<div class="container">

<h3>{{user.name}} <small>Score {{user.score}}, Ranking {{user.rank}}</small></h3>

<table class="table">
    {{#each matches}}
    <tr {{#if dataValues.expired}}class="{{scoreClass}}"{{else}}class="bet"{{/if}}>
        <td class="small"><span class="hidden-xs">{{calendar when}}</span><span class="visible-xs">{{calendarShort when}}</span></td>
        <td class="small"><span class="hidden-xs">{{MatchType.name}}</span><span class="visible-xs">{{MatchType.code}}</span></td>
        <td class="text-right">
            <em class="hidden-xs">{{HomeTeam.name}}</em><em class="visible-xs">{{HomeTeam.code}}</em>
        </td>
        <td class="text-center">
            {{#if dataValues.expired}}
                <strong>{{showGoals goalsHome}}</strong>
            {{/if}}
            :
            {{#if dataValues.expired}}
                <strong>{{showGoals goalsAway}}</strong>
            {{/if}}
        </td>
        <td class="text-left">
            <em class="hidden-xs">{{AwayTeam.name}}</em><em class="visible-xs">{{AwayTeam.code}}</em>
        </td>
        <td class="text-center">
        {{#if dataValues.expired}}
            {{showGoals Bets.0.goalsHome}}
        {{else}}
            <input type="number" min="0" class="form-control text-center" name="home" value="{{Bets.0.goalsHome}}">
            <input type="hidden" name="match" value="{{id}}">
        {{/if}}
        </td>
        <td class="text-center">
        {{#if dataValues.expired}}
            {{showGoals Bets.0.goalsAway}}
        {{else}}
            <input type="number" min="0" class="form-control text-center" name="away" value="{{Bets.0.goalsAway}}">
        {{/if}}
        </td>
    </tr>
    {{/each}}
</table>
</div>
<script type="text/javascript" src="{{asset "/js/save_bets.js"}}"></script>
{{/inline}}
{{/layout}}
