{{#> layout}}
{{#*inline "head"}}
<title>{{user.name}} - Euro 2016</title>
<style>
.result-correct {
    background-color: #009900;
}
.result-diff {
    background-color: #00e600;
}
.result-winner {
    background-color: #ccffcc;
}
</style>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">

<h3>{{user.name}} <small>Score {{user.score}}, Ranking {{user.rank}}</small></h3>

{{#if matches}}
<canvas id="history" width="100" height="30"></canvas>

<table class="table">
    {{#each matches}}
    <tr class="result-{{dataValues.result}}">
        <td class="small"><span class="hidden-xs">{{calendar when}}</span><span class="visible-xs">{{calendarShort when}}</span></td>
        <td class="small"><span class="hidden-xs">{{MatchType.name}}</span><span class="visible-xs">{{MatchType.code}}</span> {{> score_factor MatchType.scoreFactor}}</td>
        <td class="text-right">
            <em class="hidden-xs">{{HomeTeam.name}}</em><em class="visible-xs">{{HomeTeam.code}}</em>
        </td>
        <td class="text-center">
            <strong>{{showGoals goalsHome}}</strong> : <strong>{{showGoals goalsAway}}</strong>
        </td>
        <td class="text-left">
            <em class="hidden-xs">{{AwayTeam.name}}</em><em class="visible-xs">{{AwayTeam.code}}</em>
        </td>
        <td class="text-center">
        {{showGoals Bets.0.goalsHome}}
        </td>
        <td class="text-center">
        {{showGoals Bets.0.goalsAway}}
        </td>
    </tr>
    {{/each}}
</table>
{{else}}
<div class="alert alert-danger" role="alert">
    <strong>There are no bets to show.</strong>
</div>
{{/if}}
</div>
{{/inline}}
{{/layout}}
